* {
  margin: 0;
  padding: 0;
  color: black;
}
button{
  cursor: pointer;
}
ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.wrapper {
  width: 1080px;
  margin: 0 auto;
}
