* {
  padding: 0;
  margin: 0;
}
/* 登录遮罩 */
.login-zz {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
}
/* 网页头部 */
.header-max {
  box-sizing: border-box;
  height: 75px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  /* 登陆样式 */
}
.header-max .header-img {
  display: flex;
}
.header-max .header-img img {
  width: 132px;
  height: 51.6px;
  margin-top: 10px;
}
.header-max .header-img .header-list {
  width: 600px;
  height: 100%;
}
.header-max .header-img .header-list ul {
  display: flex;
  justify-content: left;
}
.header-max .header-img .header-list ul li {
  margin-left: 30px;
  width: 60px;
  line-height: 71px;
  font-size: 20px;
  text-align: center;
}
.header-max .header-img .header-list ul li a {
  display: inline-block;
  width: 60px;
  height: 71px;
}
.header-max .header-img .header-list ul .active {
  border-bottom: 4px solid red;
}
.header-max .header-img .header-list ul .active a {
  color: red;
}
.header-max .header-login {
  width: 200px;
  height: 71px;
}
.header-max .header-login a {
  float: left;
  margin-left: 24px;
}
.header-max .header-login a button {
  width: 52px;
  height: 32px;
  margin-top: 20px;
  color: #fa5535;
  border: 2px solid #fa5535;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  background-color: white;
}
.header-max .header-login :first-child img {
  margin-top: 22px;
}
.header-max .login {
  margin-top: 20px;
  border: 1px solid #cccccc;
  width: 800px;
  height: 400px;
  border-radius: 8px;
  background-color: #fff;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  box-shadow: 3px 4px 5px #444;
  overflow: hidden;
}
.header-max .login .login_left {
  float: left;
  width: 460px;
  height: 400px;
  position: relative;
  left: 40px;
  top: 40px;
  box-sizing: border-box;
}
.header-max .login .login_left h2 {
  font-size: 24px;
  color: #444;
}
.header-max .login .login_left #phone {
  width: 430px;
  height: 50px;
  text-indent: 3em;
  margin-top: 50px;
  outline: none;
  border: solid 1px #888;
  background: url(../img/phone.png) no-repeat -6px 0px;
}
.header-max .login .login_left #password {
  width: 430px;
  height: 50px;
  text-indent: 3em;
  margin-top: 20px;
  outline: none;
  border: solid 1px #888;
  background: url(../img/pass.png) no-repeat -4px 3px;
}
.header-max .login .login_left div {
  padding-top: 50px;
}
.header-max .login .login_left div .checkbox {
  margin-top: 50px;
}
.header-max .login .login_left div #login {
  width: 210px;
  height: 50px;
  background-color: red;
  font-size: 20px;
  color: white;
  border-radius: 40px;
  border: none;
  outline: none;
  position: relative;
  left: 110px;
  cursor: pointer;
}
.header-max .login .login_right {
  float: right;
  width: 330px;
  height: 400px;
  position: relative;
  left: 40px;
  top: 40px;
  box-sizing: border-box;
}
.header-max .login .login_right #closeOff {
  float: right;
  margin-right: 50px;
  position: absolute;
  top: -15px;
  right: 10px;
  cursor: pointer;
}
.header-max .login .login_right .weixin {
  width: 250px;
  margin-top: 25px;
}
.header-max .login .login_right .fenxiang {
  width: 210px;
  height: 50px;
  padding-left: 20px;
  overflow: hidden;
}
.header-max .login .login_right .fenxiang .weibo {
  float: left;
  width: 50px;
  height: 50px;
  background: url(../img/weibo.png) no-repeat 0px 0px;
  padding-left: 50px;
  padding-top: 5px;
  color: #888;
}
.header-max .login .login_right .fenxiang .qq {
  float: right;
  width: 50px;
  height: 50px;
  background: url(../img/qq.png) no-repeat 0px 0px;
  padding-left: 36px;
  padding-top: 5px;
  color: #888;
}
/* 尾部 */
.clearfix::before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.footer_total {
  background-color: #505050;
}
.footer_total .footer_main {
  padding-top: 40px;
  width: 1000px;
  margin: 0 auto;
}
.footer_erweima {
  float: left;
  width: 160px;
  height: 160px;
  margin-right: 22px;
}
.footer_nav > dl {
  float: left;
  margin-right: 30px;
}
.footer_nav > dl > dt > img {
  width: 122px;
  height: 46px;
}
.footer_nav > dl > dt {
  margin-bottom: 25px;
  font-size: 15px;
  color: #ffffed;
}
.footer_nav > dl a {
  text-decoration: none;
  color: #a4b2b5;
  font-size: 12px;
}
.footer_nav > dl a:hover {
  color: orange;
}
dd.footer_jian {
  margin-bottom: 10px;
}
.footer_nav .footer_dl_1 {
  margin-right: 6px;
}
.footer_nav > .footer_dl_2 {
  margin-top: 44px;
}
.footer_total > .footer_btm {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
  font-size: 10px;
  color: #a4b2b5;
}
.footer_total > .footer_return {
  position: fixed;
  right: 120px;
  bottom: 59px;
  width: 42px;
  height: 42px;
  display: none;
  cursor: pointer;
  border-radius: 5px;
  background: url("../image/icon/back.png") no-repeat center center;
  background-color: #e8e8e8;
}
/* 加载更多 */
.main_more {
  margin: 0 auto;
  padding: 34px 0px 54px 0px;
  width: 1000px;
  text-align: center;
}
.main_more > .nomain_loading {
  color: #ff5a25;
  cursor: pointer;
  background: url("../img/code.png") no-repeat 430px center;
}
.main_more > .main_loading {
  color: #ff5a25;
  cursor: pointer;
  background: url("../image/icon/loading-icon.gif") no-repeat 430px center;
}
