.slide-show .show-list .show-item .first {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  height: 25px;
  padding: 0px 7px;
  text-align: center;
  line-height: 25px;
  background-color: #fcf4cf;
  color: #ccb67e;
  border-bottom-left-radius: 5px;
  font-size: 14px;
}

.slide-show .show-list .show-item div {
  display: inline-block;
  padding: 3px 7px;
  border: 1px solid #89c07a;
  border-radius: 5px;
  color: #89c07a;
  font-size: 12px;
  margin: 5px 0;
}

.slide-show .show-list .show-item p:last-child {
  color: #89c07a;
  font-weight: normal;
}
